@(pageType: String)
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="@controllers.sample.routes.EventSearch.index()"><i class="glyphicon glyphicon-home"></i></a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li @if(pageType == "EventSearch"){class="active"}><a href ="@controllers.sample.routes.EventSearch.index">EventSearch</a></li>
          <li @if(pageType == "WebSocket"){class="active"}><a href ="@controllers.sample.routes.WebSocketSample.index">WebSocket</a></li>
          <li @if(pageType == "WebService"){class="active"}><a href ="@controllers.sample.routes.WebServiceSample.index">WebService</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
